:root {
    --p:60;
}

body, body * {
    margin:0;
    padding:0;
    box-sizing: border-box;
    z-index:100;
}

body{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
    gap:7vw;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px ;
    background-color: #C9D3DF;
    padding-top:40px;
    color:#888;
    padding-left:7vw;
    padding-right:7vw;
    position:relative;
}

body>div{
    width:22vw;
    height:22vw;
    min-width:300px;
    min-height:300px;
    max-width:400px;
    max-height:400px;
    position:relative;
    object-fit: contain;
    background-color:white;
}
/* ******************PRIMAS ******************** */
.pirmas{
    text-align: center;
    display: grid;
    grid-template-rows: 50% 50%;
}

.pirmas .title{
    font-size:20px;
    display:block;
    margin:9%    auto;
    display:flex;
    justify-content: space-around;
}

.pirmas .title::before{
    content: "<";
    padding:0 10%;
}

.pirmas .title::after{
    content: ">";
    padding:0 10%;
}


.bar-img{
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
}

.mask-img{
    z-index:3;
}

.progress-img{
    z-index: 2;
    animation: rotation 4s infinite linear;
}

.arrow-img{
    z-index:4;
    animation: rotation 4s infinite linear;
}

.fonas{
    background:#C9D3DF;
    position: absolute;
    z-index: 1;
    width:100%;
    height:100%;
}

.info{
    align-self: end;
    padding-bottom:24%; 
    font-weight: normal;
}

.info span {
    font-weight: bold;
}

@keyframes rotation{
    0% {
        transform:rotate(0deg);
    }

    10% {
        transform:rotate(180deg);
    }
    20% {
        transform:rotate(0deg);
    }
    60% {
        transform:rotate(180deg);
    }

    100%{
        transform:rotate(0deg);
    }
}

/* ********************* Antras***************** */
.antras {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.antras .title{
    margin-top:40px;
}

.title span {
    font-weight:normal;
}

.antras .bars-wrapp{
    margin-bottom:45px;
    width:90%;
}

.antras .lable{
    padding:0 25px;
    display:flex;
    justify-content: space-between;
}

.antras .top-layer {
    width: 90%;
    margin: 8px auto;
    /* background-color:red; */
    height: 7px;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
}


.antras .progress {
    height:120%;
    width:30%;
    position:absolute;
}

.antras .background{
    box-sizing: border-box;
    width:100%;
    height:100%;
    border:#C9D3DF 2px solid;
    background-color: #ECEFF4;
    border-radius: 4px;;
}

.gradient1{
    background-image: linear-gradient(to right, red , yellow);
    animation: bar-progress 4s infinite linear;
}
.gradient2{
    background-image: linear-gradient(to right, #9F34D5 , #0280D5);
    animation: bar-progress 4s 2s infinite linear;

}
.gradient3{
    background-image: linear-gradient(to right, #D73F59 , #9F34D5);
    animation: bar-progress 4s 1s infinite linear;

}

@keyframes bar-progress {
    0% {
        width:0%;
    }
    8% {
        width:100%;
    }
    16% {
        width:0%;
    }
    65% {
        width:100%;
    }
    100% {
        width:0%;
    }
}


/* ***************** TRECIAS********************* */
.trecias{
    display:flex;
    flex-direction:column;
    align-items: center;
    padding-top:25px;
}
.trecias .pie-chart{
    
    width:85%;
    aspect-ratio: 1;
    -webkit-mask:conic-gradient(#000 calc(var(--p)*1%),#0000 0);
    animation:p 3s infinite ease-in-out;
}

.pie{
    width:100%;
}

.trecias:after{
    content:"60%";
    position: absolute;
    top:55%;
    left:45%;
    font-size:22px;
}


@property --p{
    syntax: '<number>';
    inherits: true;
    initial-value: 0;
  }

  @keyframes p {
    0% {--p:0}

    30% {--p:95}
    60% {--p:0}
    80% {--p:20}

    100% {--p:0}
  }

  /* ********** KETVIRTAS******************** */
  .ketvirtas{
    --p1:25;
    --p2:40;
    --p3:15;
    --p4:20;
    position: relative;

    display:flex;
    flex-direction:column;
    align-items: center;
    padding-top:25px;
  }

  .pie-chart2{
    position: absolute;
    width:70%;
    top:25%;
    left:15%;
    aspect-ratio: 1;

}

  .slice1, .slice2, .slice3, .slice4{
    position:absolute;
    width:100%;
    height:100%;
    border-radius: 50%;
  }

  .slice1{
    background-color: red;
    -webkit-mask:conic-gradient(#000 calc(var(--p1)*1%),#0000 0);
    animation:pppp 3s infinite ease-in-out;

}

  .slice2 {
    background-color: green;
    transform: rotate(calc(var(--p1) * 3.6deg));
    -webkit-mask:conic-gradient(#000 calc(var(--p2)*1%),#0000 0);
    animation:pppp 3s infinite ease-in-out;

}

  .slice3 {
    background-color: yellow;
    transform: rotate(calc((var(--p1) + var(--p2)) * 3.6deg));
    -webkit-mask:conic-gradient(#000 calc(var(--p3)*1%),#0000 0);
    animation:pppp 3s infinite ease-in-out;

}

  .slice4 {
    background-color: pink;
    transform: rotate(calc((var(--p1) + var(--p2) + var(--p3)) * 3.6deg));
    -webkit-mask:conic-gradient(#000 calc(var(--p4)*1%),#0000 0);
    animation:pppp 3s infinite ease-in-out;
}

.slice1:after{
    content: "xx %";
    position: absolute;
    top:30px;
    left:100px;
    transform: rotate(calc((130 +  var(--p1) + var(--p2) + var(--p3)) * 3.6deg));
}


.slice2:after{
    content: "xx %";
    position: absolute;
    top:30px;
    left:100px;
    transform: rotate(calc((130 +  var(--p1) + var(--p2) + var(--p3)) * 3.6deg));
}


.slice3:after{
    content: "xx %";
    position: absolute;
    top:30px;
    left:100px;
    transform: rotate(calc((130 +  var(--p1) + var(--p2) + var(--p3)) * 3.6deg));
}


.slice4:after{
    content: "xx %";
    position: absolute;
    top:30px;
    left:100px;
    transform: rotate(calc((130 +  var(--p1) + var(--p2) + var(--p3)) * 3.6deg));
}


  @property --p1{
    syntax: '<number>';
    inherits: true;
    initial-value: 0;
  }
  @property --p2{
    syntax: '<number>';
    inherits: true;
    initial-value: 0;
  }
  @property --p3{
    syntax: '<number>';
    inherits: true;
    initial-value: 0;
  }
  @property --p4{
    syntax: '<number>';
    inherits: true;
    initial-value: 0;
  }


  @keyframes pppp {
    0% {
        --p1:0;
        --p2:90;
        --p3:5;
        --p4:5;
    }
    60% {
        --p1:60;
        --p2:10;
        --p3:30;
        --p4:0;
    }
    100% {
        --p1:0;
        --p2:90;
        --p3:5;
        --p4:5;
    }
}